<% title "STREETMAG » " + @publication.title + " » Issues" %>  
<div class="admin">
<p id="notice"><%= notice %></p>

<h1>Issues :: LIST</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Volume</th>
    <th>Issue number</th>
    <th>Year</th>
    <th>Publication</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
  <tr>
    <td><%= issue.title %></td>
    <td><%= issue.volume %></td>
    <td><%= issue.issue_number %></td>
    <td><%= issue.year %></td>
    <td><%= issue.publication.title %></td>
    <td><%= link_to 'Show', admin_publication_admin_issue_path(@publication, issue) %></td>
    <td><%= link_to 'Edit', edit_admin_publication_admin_issue_path(@publication, issue)  %></td>
    <td><%= link_to 'Destroy', admin_publication_admin_issue_path(@publication, issue) , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue', new_admin_publication_admin_issue_path %>

</div>