<%= simple_form_for [:admin, @publication, :admin, @arrangement] do |f| %>
  <% if @arrangement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arrangement.errors.count, "error") %> prohibited this arrangement from being saved:</h2>

      <ul>
      <% @arrangement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <%= f.association :issue, :collection => @publication.issues %>
    <%= f.association :section, :collection => @publication.sections %>
    <!-- need to switch to @publication.unassigned_articles -->
    <%= f.association :article, :collection => @publication.articles %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
 
