<% content_for :javascript do %>
  <%= javascript_tag do %>
    // Sorting the list

    $(document).ready(function(){
    $('#arrangements').sortable({
    axis: 'y',
    dropOnEmpty: false,
    handle: '.handle',
    cursor: 'crosshair',
    items: 'li',
    opacity: 0.4,
    scroll: true,
    update: function(){
    $.ajax({
    type: 'post',
    data: $('#arrangements').sortable('serialize'),
    dataType: 'script',
    complete: function(request){
    $('#arrangements').effect('highlight');
    },
    url: '<%= sort_admin_publication_admin_arrangements_path(@publication) %>'})
    }
    });
    });
  <% end %>
<% end %>

<div class="admin">
<h1>Arrangements :: Hub Sections</h1>
<h4><%= link_to "Arrange Issue Articles", admin_publication_admin_arrangements_path(@publication) %></h4>
  <div id="management">
    <span class="tools">tools</span>
    <%= link_to '+ New Arrangement', new_admin_publication_admin_arrangement_path(@publication)  %>
  </div>

<ul id="arrangements">
<% @arrangements.each do |arrangement| %>
  <li id="arrangement_<%= arrangement.id %>" class="drag_box">
    <span class="handle">&nbsp;:::&nbsp;</span>
    <span class="column_one"><%=truncate( arrangement.issue.title , :length => 40, :separator => ' ')unless arrangement.issue == nil %></span>
    <span><b><%= arrangement.section.name unless arrangement.section == nil %></b></span>
    <span>
      <%= link_to admin_publication_admin_arrangement_path(@publication, arrangement) do %>
        <%= truncate(arrangement.article.title, :length => 50, :separator => ' ') unless arrangement.article == nil %>
      <% end %>
    </span> | 
    <span><%= link_to 'Edit', edit_admin_publication_admin_arrangement_path(@publication, arrangement) %></span> | 
    <span class="destroy"><%= link_to 'Destroy', admin_publication_admin_arrangement_path(@publication, arrangement) , :confirm => 'Are you sure?', :method => :delete %></span>
  </li>
<% end %>
</ul>


<br />

<%= link_to 'New Arrangement', new_admin_publication_admin_arrangement_path(@publication)  %>
</div>
    
