<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @issue.title %>
</p>

<p>
  <b>Volume:</b>
  <%= @issue.volume %>
</p>

<p>
  <b>Issue number:</b>
  <%= @issue.issue_number %>
</p>

<p>
  <b>Year:</b>
  <%= @issue.year %>
</p>

<p>
  <b>Publication:</b>
  <%= @issue.publication_id %>
</p>


<%= link_to 'Edit', edit_publication_issue_path(@publication, @issue) %> |
<%= link_to 'Back', publication_issues_path(@publication) %>
