<% content_for :javascript do %>

<script type="text/javascript">
$(function() {
    $("#slideshow").cycle();
    $('#tweets').liveTwitter('inquire_jcl', {mode: 'user_timeline', rate:300000, limit: 5 });
  });
</script>

<% end %>


<div id="page">

		<div id="mainBlock">
      <h2><i>Inquire</i> Archive</h2>
      <br />
			<% @issues.each do |issue| %>
        <br />
        <h3>
          <%= link_to issue.title, publication_issues_path(issue.descriptor), :class => "archive_title" %><br/>
          <%= link_to issue_name(issue), publication_issues_path(issue.descriptor), :class => "archive_name" %><br/>
        </h3>
        <br/>
        <br />
      <% end %>
		</div>
			
	
		<div id="news">
      <%= render 'news_feed'%>
			<%= render 'twitter' %>
		</div>
		
		<%= render 'sidebar' %>
		
		<div style="clear: both;">&nbsp;</div><br clear="left" />
				
	
</div>