<% title "STREETMAG » Publications" %>  


<div class="admin">
  <h1>Listing publications</h1>


  <table>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Name</th>
      <th>Copyright</th>
      <th>Issn</th>
      <th>Publisher</th>
    </tr>

  <% @publications.each do |publication| %>
    <tr>
      <td><%= publication.title %></td>
      <td><%= publication.subtitle %></td>
      <td><%= publication.name %></td>
      <td><%= publication.copyright %></td>
      <td><%= publication.issn %></td>
      <td><%= publication.publisher %></td>
    </tr>
  <% end %>
  </table>

  <br />
</div>