<% title "STREETMAG » Publications" %>  
<h1>Listing publications</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Name</th>
    <th>Welcome</th>
    <th>Copyright</th>
    <th>Issn</th>
    <th>Publisher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publications.each do |publication| %>
  <tr>
    <td><%= publication.title %></td>
    <td><%= publication.subtitle %></td>
    <td><%= publication.name %></td>
    <td><%= publication.welcome %></td>
    <td><%= publication.copyright %></td>
    <td><%= publication.issn %></td>
    <td><%= publication.publisher %></td>
    <td><%= link_to 'Show', publication %></td>
    <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
    <td><%= link_to 'Destroy', publication, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Publication', new_publication_path %>
