<div class="mag">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @publication.title %>
  </h1>
  <h2>
    <%= @publication.subtitle %>
  </h2>

  <h3>URL: <%= @publication.name %>.streetmag.org</h3>

  <h4>Welcome</h4>
    <%= raw @publication.welcome %>

  <h4>Sections</h4>
  <ul>
    <% @publication.sections.each do |section| %>
      <li><%= section.name %></li>
      <ul>
        <% section.articles.each do |article| %>
          <li><%= article.title %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
  
  <p>
    &copy; <%= @publication.copyright %>
  </p>

  <p>
    <b>Issn:</b> <%= @publication.issn %>
  </p>

  <p>
    <b>Brought to you by:</b>
    <%= @publication.publisher %>
  </p>


  <%= link_to 'Edit', edit_publication_path(@publication) %> |
  <%= link_to 'Back', publications_path %>

</div>