<div id="page">

		<div id="mainBlock">
			
			<img src="/images/inquire/rotator/01.jpg" alt="" title="" width="480px" height="260px" />
			
					
			<div id="volume">
				<div id="issue">Issue <%= @issue.volume %>.<%= @issue.issue_number %>: <%=  Date::MONTHNAMES[@issue.publication_date.month] %> <%= @issue.publication_date.year %></div>
				<div id="issueTitle"><%= @issue.title %></div>
				
          <% @issue.sections.each do |section| %>
            <h3><%= section.name %></h3>
            <ul>
              <% Arrangement.joins(:article).where("issue_id = ? AND section_id = ?", @issue.id, section.id).order("title").each do |arrangement| %>
                <li><%= arrangement.article.title %></li>
              <% end %>
            </ul>
          <% end %>
				
			</div>
		</div>
			
	
		<div id="news">
      <%= render 'news_feed'%>
			<%= render 'twitter' %>
		</div>
		
		<%= render 'sidebar' %>
		
		<div style="clear: both;">&nbsp;</div><br clear="left" />
				
	
</div>