<div class="admin">
<h1>Articles :: LIST</h1>  
  <div id="management">
    <span class="tools">tools</span>
    <%= link_to '[+] New Article', new_admin_publication_admin_article_path(@publication) %>
  </div>
<br />

<table>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><img src="<%= article.photo(:thumb) %>" /></td>
    <td><%= article.title %></td>
    <td><%= article.author.name unless article.author == nil %></td>
    <td><%= link_to 'Show', admin_publication_admin_article_path(@publication, article) %></td>
    <td><%= link_to 'Edit', edit_admin_publication_admin_article_path(@publication, article) %></td>
    <td><%= link_to 'Destroy', admin_publication_admin_article_path(@publication, article), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

</div>