<div class="admin">
<h1>Article :: VIEW</h1>
<div id="management">
  <span class="tools">tools</span>
  <%= link_to '[•] Edit', edit_admin_publication_admin_article_path(@publication,@article) %> |
  <%= link_to '[«] Back', admin_publication_admin_articles_path(@publication) %>
</div>

<div class="properties">
  <p>
    <b>Title:</b>
    <%= @article.title %>
  </p>

  <p>
    <b>Author(s):</b>
    <% @article.authors.each do |author| %>
      <br/ ><%= author.name%>
    <% end %>
  </p>

  <p>
    <b>Abstract:</b>
    <%= raw @article.abstract %>
  </p>
  <p>
    <b>Notes:</b>
    <%=  raw @article.notes %>
  </p>

  <p>
    <b>Cited works:</b>
    <%= raw @article.cited_works %>
  </p>
  <p>
    <b>Excerpt:</b>
    <%= raw @article.excerpt %>
  </p>
</div>

<div class="mag">
  <%= raw @article.content %>
</div>

</div>