<div id="pageBar">
	<h2><%= @article.section.name %></h2>
	<ul>
	  <% @article.section.articles.each do |article| %>
      <% if @article.id == article.id %>
      <li class="current_article">
      <% else %>
      <li class="other_article">
      <% end %>
        <%= link_to article do%>
          <%= raw sanitize article.formatted_title %><br />
          <span class="author_name">&ndash; 
            <% article.authors.each do |author| %>
              <% if article.authors.first == author %>
                <%= author.name %>
              <% elsif article.authors.last == author %>
                &amp; <%= author.name %>
              <% else %>
                , <%= author.name %>
              <% end %>
            <% end %>
          </span>
        <% end %>
      </li
    <% end %>
	</ul>
</div>