<div id="page">
  <div id="search-content">
  <% if @search%>
    <h4>You searched for: &quot;<%= @search%>&quot;. Here is what we found:</h4>
  <% end %>
<% @articles.each do |article| %>
  <div class="result">
    <div class="author">
      <% article.authors.each do |author| %>
          <%= author.name %><%= "," unless author == article.authors.last %>
      <% end %>
    </div>  
     <% link_to article do%>
         <%= raw sanitize textilize article.excerpts.formatted_title %>
     <% end %>
     <div class="excerpt"><%= raw sanitize textilize article.excerpts.content %></div>
  </div>
<% end %>
  </div>
</div>
