<div class="admin">
<h1>Article :: VIEW</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Author:</b>
  <%= @article.author.name %>
</p>

<p>
  <b>Abstract:</b>
  <%= raw @article.abstract %>
</p>

<p>
  <b>Content:</b>
  <%= raw @article.content %>
</p>

<p>
  <b>Notes:</b>
  <%=  raw @article.notes %>
</p>

<p>
  <b>Cited works:</b>
  <%= raw @article.cited_works %>
</p>

<p>
  <b>Excerpt:</b>
  <%= raw @article.excerpt %>
</p>

<p>
  <b>Photo:</b>
  <img src="<%= @article.photo(:thumb) %>" alt="<%= @article.photo.name%>" title="<%= @article.photo.name%>" />
</p>



<%= link_to 'Edit', edit_publication_article_path(@publication,@article) %> |
<%= link_to 'Back', publication_articles_path(@publication) %>
</div>