<div id="page">
   <%= render 'pagebar' %>

		<div id="content" class="article">	
		  <h2><%= raw sanitize @article.formatted_title %></h2>

	    <% @article.authors.each do |author| %>
	    <h3>
		    <%= raw author.name %>
	    </h3>
		  <% end %>

		  <div class="article">
		    <%= raw @article.content %>
		  </div>
		  
		  <% if @article.cited_works? %>
		  
		  <h3>Works Cited</h3>
		  <div class="works">
		    <%= raw @article.cited_works %>
		  </div>
		  
		  <% end %>
		  
		  
      <% @article.authors.each do |author| %>

		  <h3>Bio</h3>
		  <div class="bio">
		    <%= raw author.bio %>
		  </div>
		  
		  <% end %>
		  
		  <hr />
		  
		  <div class="notes">
		    <%= raw @article.notes %>
		  </div>
		  <div style="clear: both;">&nbsp;</div>
  		
		</div>
		<div style="clear: both;">&nbsp;</div>
		
</div>