<%= simple_form_for [@publication, @author] do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <div class="inputs_left">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :url %>
    <%= f.input :affiliation %>
    </div>
    <div class="inputs_right">
      <%= f.label :bio %><br/><br/>
      <%= f.cktext_area :bio, :toolbar=>'Article', :height=>'200px' %>
    </div>
    <div class="input_end"> </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
