<div class="admin">
<h1>Authors :: LIST</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Url</th>
    <th>Affiliation</th>
    <th>Bio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= author.email %></td>
    <td><%= author.url %></td>
    <td><%= author.affiliation %></td>
    <td><%= author.bio %></td>
    <td><%= link_to 'Show', publication_author_path(@publication, author) %></td>
    <td><%= link_to 'Edit', edit_publication_author_path(@publication, author) %></td>
    <td><%= link_to 'Destroy', publication_author_path(@publication, author), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Author', new_publication_author_path(@publication) %>
</div>