<div class="admin">
<p id="notice"><%= notice %></p>
<h1>Author :: VIEW</h1>
<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Email:</b>
  <%= @author.email %>
</p>

<p>
  <b>Url:</b>
  <%= @author.url %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @author.affiliation %>
</p>

<p>
  <b>Bio:</b>
  <%= @author.bio %>
</p>


<%= link_to 'Edit', edit_publication_author_path(@publication, @author) %> |
<%= link_to 'Back', publication_authors_path(@publication) %>
</div>