<% title "STREETMAG » Sections" %>  
<div class="admin">
<h1>Sections :: LIST</h1>
  <div id="management">
    <span class="tools">tools</span>
    <%= link_to '[+] New Section', new_admin_publication_admin_section_path(@publication)  %>
  </div>

<table>
  <tr>
    <th>Order</th>
    <th>Name</th>
    <th>Parent</th>
    <th>Static</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%= section.position %></td>
    <td><%= section.name %></td>
    <td><%= section.parent.name unless section.parent == nil %></td>
    <td><%= section.is_static? ? "yes" : "no" %></td>
    <td><%= link_to 'View', admin_publication_admin_section_path(@publication, section) %></td>
    <td><%= link_to 'Edit', edit_admin_publication_admin_section_path(@publication, section) %></td>
    <td><%= link_to 'Destroy', admin_publication_admin_section_path(@publication, section) , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>