<% content_for :javascript do %>
  <%= javascript_include_tag 'ckeditor/ckeditor' %>
<% end %>
<%= simple_form_for [:admin,@publication,:admin,@post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <div class="inputs_left">
      <%= f.input :title %>
      <%= f.input :author %>
      <%= f.label :summary %><br/>
      <p>(Use formatting like <b>*bold*</b>, <i>_italics_</i> and <a href="#">"links":http://streetmag.org</a>)</p>
      <%= f.text_area :summary %>
    </div>
    <div class="inputs_right">
      <%= f.label :content %><br/><br/>
      <%= f.cktext_area :content, :toolbar=>'Article', :height=>'400px' %>
    </div>
      <div class="input_end"> </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>



