<div class="admin">
<h1>Post :: VIEW</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Summary:</b>
  <%= @post.summary %>
</p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<hr />
<br />

<%= raw @post.content %>


<%= link_to 'Edit', edit_admin_publication_admin_post_path(@publication, @post) %> |
<%= link_to 'Back', admin_publication_admin_posts_path(@publication, @post) %>

</div>