<%= simple_form_for [:admin, @publication] do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <div class="inputs_left">
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :name %>
    <%= f.input :copyright %>
    <%= f.input :issn %>
    <%= f.input :publisher %>
    </div>
    <div class="inputs_right">
      <%= f.label :welcome %><br/><br/>
      <%= f.cktext_area :welcome, :toolbar=>'Article', :height=>'400px' %>
    </div>
    <div class="input_end"> </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
    
<% end %>
