<% title "STREETMAG » Publications" %>  

<div class="admin">
  <h1>Listing publications</h1>

  <div id="management">
    <span class="tools">tools</span>
    <%= link_to '[+] New Publication', new_admin_publication_path %>
  </div>


  <% @publications.each do |publication| %>
    <div class="mag mag_index">
      <h1><%= publication.title %></td>
      <h2><%= publication.subtitle %></td>
      <p>
        NAME: <%= publication.name %> (used for URL) <br/>
        URL: <a href="http://<%= publication.name %>.streetmag.org" target="_blank"><%= publication.name %>.streetmag.org</a><br />
        ISSN: <%= publication.issn %> | Publisher: <%= publication.publisher %><br />
        <%= publication.copyright %>
      </p>
      <p> 
        <%= link_to '[∆] Open', admin_publication_path(publication) %> | 
        <%= link_to '[•] Edit', edit_admin_publication_path(publication) %> |
        <%= link_to '[-] Destroy', admin_publication_path(publication), :confirm => 'Are you sure?', :method => :delete %>
      </p>
    </div>
  <% end %>

  <br />

</div>