<div class="mag">
  <p id="notice"><%= notice %></p>

  <h1>
    <%= @publication.title %>
  </h1>
  <h2>
    <%= @publication.subtitle %>
  </h2>

  <h3>URL: <a href="http://<%= @publication.name %>.streetmag.org" target="_blank"><%= @publication.name %>.streetmag.org</a></h3>

  <h4>Welcome</h4>
    <%= raw sanitize truncate (@publication.welcome, :length => 1000)%>

  <h4>Sections</h4>
  <ul>
    <% @publication.sections.each do |section| %>
      <li><%= section.name %></li>
    <% end %>
  </ul>
  
  <p>
    &copy; <%= @publication.copyright %>
  </p>

  <p>
    <b>Issn:</b> <%= @publication.issn %>
  </p>

  <p>
    <b>Brought to you by:</b>
    <%= @publication.publisher %>
  </p>

</div>

<%= link_to 'Edit', edit_admin_publication_path(@publication) %>
<!-- | <%= link_to 'Back', admin_publications_path %> -->
