<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "STREETMAG" %></title>
  <%= stylesheet_link_tag 'streetmag' %>
  <%= stylesheet_link_tag 'mag' %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery.ui.min' %>
  <%= javascript_include_tag 'jquery.twitter' %>
  <%= javascript_include_tag 'jquery.cycle.lite' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript %>
  <%= csrf_meta_tag %>
</head>
<body id= <%= subdomain_name(request.subdomain) %> > 
  <div id="head">
    <div id="street_mag_title"><%= link_to "STREETMAG", root_url %> » <span class="subtitle">the OPEN platform for publishing magazines and journals.</span></div>
 <% if current_user && user_signed_in? %>   
    <div id="user_info" class="signed_in">
    <% if current_user.is_admin %>
      <span class="admin_link"><%= link_to("Publications", admin_publications_path) %></span> |
    <% end %>
    <% current_user.assignments.each do |assignment| %>
      <span class="mag_link">
        <%= link_to admin_publication_path(assignment.publication) do %> 
          <%= assignment.publication.title %> » <%= assignment.role.name.titlecase %>
        <% end %>
      </span>&nbsp;|
    <% end %>
      <%= link_to('Account', edit_user_registration_path) %>&nbsp;|
      <%= link_to destroy_user_session_path do %>
        Sign out (<i><%= current_user.email %></i>)
      <% end %> 
    <% else %>
    <div id="user_info" class="signed_out">
      <%= link_to('Sign in', new_user_session_path(:protocol => 'https://') )  %>  
    <% end %>
    </div>
  </div>
  
  <div id="nav">  
    <% if !subdomain?(request.subdomain) && @publication && !@publication.new_record? %> 
        <%= link_to @publication.title, admin_publication_path(@publication) %> |
        <%= link_to 'News Posts', admin_publication_admin_posts_path(@publication) %> |
        <%= link_to 'Hub Pages', admin_publication_admin_site_pages_path(@publication) %> |
        <%= link_to 'Issues', admin_publication_admin_issues_path(@publication) %> | 
        <%= link_to 'Sections', admin_publication_admin_sections_path(@publication) %> | 
        <%= link_to 'Article Arrangement', admin_publication_admin_arrangements_path(@publication) %> | 
        <%= link_to 'Articles', admin_publication_admin_articles_path(@publication) %> | 
        <%= link_to 'Authors', admin_publication_admin_authors_path(@publication) %>  

    <% end %>

  </div>
  
  <% if flash %>
    <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  <% end %>
  
  <div id="primary">
    <%= yield %>
  </div>
  
  <div id="footer">
    <div id="credits">STREETMAG is another adventure in Humanities Computing from the minds of Gary Kelly and David Buchanan.</div>
    <div id="the-fine-print">&copy; 2010 STREETLABS. All rights reserved.</div>
  </div>

</body>
</html>
