<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "STREETMAG" %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= yield :javascript %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="head">
    <div id="street_mag_title">STREETMAG » <span class="subtitle">the OPEN platform for publishing magazines and journals.</span></div>
  </div>
  
  <% if @publication && !@publication.new_record? %>
    <div id="nav">
      <%= link_to 'Home', admin_publication_path(@publication) %> |
      <%= link_to 'Issues', admin_publication_admin_issues_path(@publication) %> | 
      <%= link_to 'Sections', admin_publication_admin_sections_path(@publication) %> | 
      <%= link_to 'Article Arrangement', admin_publication_admin_arrangements_path(@publication) %> | 
      <%= link_to 'Articles', admin_publication_admin_articles_path(@publication) %> | 
      <%= link_to 'Authors', admin_publication_admin_authors_path(@publication) %>
    </div>
  <% end %>
  
  <p id="notice"><%= notice %></p>
  
<%= yield %>

<div id="footer">
  <div id="credits">STREETMAG is another adventure in Humanities Computing from the minds of Gary Kelly and David Buchanan.</div>
  <div id="the-fine-print">&copy; 2010 STREETLABS. All rights reserved.</div>
</div>

</body>
</html>
